<div class="rodape" style="padding: 40px 0;">
    <img src="/public/img/logoMak.png"
     alt="Logo MAK"
     style="height: 80px; width: auto; background: transparent;">

    <div style="font-weight: 700; font-size: 1.1rem; margin-bottom: 8px;">
        Mak Soluções Sustentáveis
    </div>

    <a class="link-rodape" href="https://sistemasdeinformacao.espm.edu.br" target="_blank">
        <small>Desenvolvido em 2025 pelo curso de Sistemas de Informação da ESPM</small>
        <br/>
        <img src="/public/img/logo-si-512.png" style="width: 100%; max-width: 150px;" />
    </a>
</div>